<div id="<%= dom_id lista_tarefa %>" class="lista-tarefa-nome">
  <strong>
    <%= lista_tarefa.nome_lista %>
  </strong>
  <%= link_to edit_lista_tarefa_path(lista_tarefa), class: "edit-icon" do %>
    <i class="fas fa-pencil-alt"></i> 
  <% end %>
</div>
