<% content_for :title, "Editando o nome da Lista" %>

<h1>Editing lista tarefa</h1>

<%= render "form", lista_tarefa: @lista_tarefa %>

<br>

<div>
  <%= link_to "Voltar para a Lista", @lista_tarefa %> |
  <%= link_to "Voltar para suas Listas de Tarefas", lista_tarefas_path %>
</div>
