<div class='container'>

  <% content_for :title, "Nova Lista de Tarefas" %>

  <h1>Qual o nome da sua Lista de Tarefas?</h1>

  <%= render "form", lista_tarefa: @lista_tarefa %>

  <br>

  <div>
    <%= link_to "Back to lista tarefas", lista_tarefas_path %>
  </div>

</div>